version: '3.8'

services:
  yt-downloader:
    build: .
    container_name: private-downloader
    restart: unless-stopped
    ports:
      - "5005:5000"
    
    # Load biến môi trường (Sheet ID, Key, Secret)
    env_file:
      - .env

    # Dockerfile đã có CMD gunicorn, không cần viết lại ở đây
    # user: root -> Dockerfile cũng đã set root, có thể bỏ dòng này hoặc giữ để tường minh đều được.
    user: root 
    
    volumes:
      # Đảm bảo file này tồn tại trên máy chủ (dù là file rỗng)
      - /root/app_data/cookies.txt:/app/cookies.txt
      - ./tmp_downloads:/tmp

    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 2048M
