version: '3.8'

services:
  yt-downloader:
    container_name: private-downloader
    build: https://github.com/patonline85/private-downloader.git#main
    restart: unless-stopped
    ports:
      - "5005:8000"
    volumes:
      - /root/app_data/cookies.txt:/app/cookies.txt
    environment:
      - MAX_WORKERS=4
    deploy:
      resources:
        limits:
          # Bạn có 4GB, hãy cho nó dùng tối đa 3GB hoặc 3.5GB
          # Hoặc tốt nhất là XÓA LUÔN phần deploy/resources này đi để nó tự điều phối
          cpus: '2.0' 
          memory: 3500M
