version: '3.8'

services:
  yt-downloader:
    container_name: private-downloader
    build: .  # Build từ thư mục hiện tại
    restart: unless-stopped
    ports:
      - "5005:5000" # Map port 5005 của Armbian vào 5000 của Container
    environment:
      - WORKERS=4
    volumes:
      # (Tuỳ chọn) Mount thư mục cookies nếu sau này cần tải video membership/bị giới hạn tuổi
      - ./cookies.txt:/app/cookies.txt
    # Giới hạn tài nguyên để không treo Armbian (Tuỳ cấu hình máy bạn)
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 512M