version: '3.8'

services:
  yt-downloader:
    command: gunicorn -w 4 -b 0.0.0.0:5000 --timeout 600 app:app
    container_name: private-downloader
    build: .  # Build từ thư mục hiện tại
    restart: unless-stopped
    ports:
      - "5005:5000" # Map port 5005 của Armbian vào 5000 của Container
    environment:
      - WORKERS=4
    user: root
    volumes:
      # (Tuỳ chọn) Mount thư mục cookies nếu sau này cần tải video membership/bị giới hạn tuổi
      - /root/app_data/cookies.txt:/app/cookies.txt
    # Giới hạn tài nguyên để không treo Armbian (Tuỳ cấu hình máy bạn)
    deploy:
      resources:
        limits:
          cpus: '1.0'

          memory: 512M

