version: '3.8'

services:
  yt-downloader:
    container_name: private-downloader
    build: .
    restart: unless-stopped
    ports:
      - "5005:7000"  # Map cổng 5005 ngoài vào 8000 trong
    volumes:
      # Mount thư mục cookies nếu cần
      - /root/app_data/cookies.txt:/app/cookies.txt
    environment:
      - MAX_WORKERS=4
    deploy:
      resources:
        limits:
          cpus: '1.5' # Nới lỏng CPU một chút cho việc ghép file
          memory: 2048M

