version: '3.8'

services:
  yt-downloader:
    # Thêm --threads 4 để tăng hiệu suất khi tải nhiều file
    command: gunicorn -w 4 --threads 4 -b 0.0.0.0:5000 --timeout 600 app:app
    container_name: private-downloader
    build: . 
    restart: unless-stopped
    ports:
      - "5005:5000"
    environment:
      - WORKERS=4
    user: root
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 2048M
