version: '3.8'

services:
  yt-downloader:
    container_name: private-downloader
    build: .
    restart: unless-stopped
    ports:
      - "5005:5000"
    environment:
      - WORKERS=4
    volumes:
      # --- SỬA QUAN TRỌNG TẠI ĐÂY ---
      # Thay dấu chấm "." bằng đường dẫn tuyệt đối trên máy Armbian
      # Docker sẽ luôn tìm đúng file này bất kể bạn deploy lại bao nhiêu lần
      - /root/app_data/cookies.txt:/app/cookies.txt
    
    deploy:
      resources:
        limits:
          cpus: '1.5'      # Tăng lên chút để xử lý nhanh hơn
          memory: 2500M    # QUAN TRỌNG: Tăng lên 2.5GB. 
                           # Để 512M là bị lỗi "Killed" ngay khi ghép video
